.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
}
.pagination__list {
  display: flex;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 3.6rem;
  max-width: 3.6rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 0.8rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3.6rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 1;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

a.pagination__item:hover::after {
  display: none;
}

a.pagination__item:not(.pagination__item--current):hover {
  background-color: rgba(var(--color-foreground), 0.05);
}

.pagination__item .icon-caret {
  height: 0.5rem;
}

.pagination__item--current::after {
  display: none;
}

.pagination__item--current {
  background-color: rgba(var(--color-foreground), 0.1);
  pointer-events: none;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
